#no-games,
#common-games {
  min-height: 80svh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 20px;
}

#no-games {
  align-items: center;
}

#common-games ul {
  gap: 15px;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}

#common-games .game {
  display: flex;
  transition: 0.3s;
  z-index: 1;
}

#common-games .game:hover {
  scale: 1.1;
  z-index: 2;
}

.button-icon {
  height: 100%;
}

#random-game-btns {
  display: flex;
  gap: 7px;
}

#random-game-btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 10px 34px;

  position: relative;

  border-radius: 2px;
  border: none;

  font-weight: 600;

  min-width: fit-content;
  height: 50px;
  transition: 0.2s;
}

#random-game-btns button:hover {
  transform: translate(0px, 2px);
  scale: 0.99;
}

.steam-play {
  background: #56c933;
  background: linear-gradient(
    90deg,
    rgba(86, 201, 51, 1) 0%,
    rgba(31, 177, 79, 1) 100%
  );
}

.steam-stop {
  background: #359ded;
  background: linear-gradient(
    90deg,
    rgba(53, 157, 237, 1) 0%,
    rgba(30, 95, 207, 1) 100%
  );
}
