#common-games {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 70px;
}

#common-games ul {
  gap: 15px;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}

#common-games .game {
  display: flex;
  transition: 0.3s;
  z-index: 1;
}

#common-games .game:hover {
  scale: 1.1;
  z-index: 2;
}
