#selected-game {
  width: 80vw;
  height: 80svh;
  background-color: blue;
}

#common-games-random {
  width: 80%;
  min-height: 80svh;
  background-color: red;
  display: flex;
  flex-direction: column;
}

#selected-game-image {
  height: 500px;
}

#random-game-btns {
  display: flex;
  gap: 12px;
}
