:root {
  --element-spacing: 12px;
}

#selected-game {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#selected-game-container {
  display: flex;
  flex-direction: column;
  gap: var(--element-spacing);
}

#selected-game-image {
  align-self: center;
  padding: 20px;
  width: 60%;
  /* border-radius: 500px; */
  border-radius: 50%/40%;
}

#selected-game-btns {
  display: flex;
  gap: 12px;
}

#selected-game-screenshots {
  display: flex;
  gap: 10px;
}
#selected-game-screenshots img {
  height: 100px;
}

.mySwiper {
  height: 100%;
  width: 90%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
