#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: 100vw;
}

main {
  padding: 0 120px;
  height: 100%;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#userID-input {
  display: flex;
  justify-content: space-around;
}

#user-select {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80%;
}

#selected-userID-text {
  display: flex;
  justify-content: space-around;
}

.user-info {
  display: flex;
  flex-direction: column;
}

#status-text {
  white-space: pre;
}
.container_c1e950 {
  width: 100%;
}
.inner_7e9787 {
  width: 100%;
}

#user-select .container_c1e950:last-child {
  rotate: 180deg;
}

#compare-btn {
  font-weight: 900;
  font-size: 2rem;
  -webkit-text-stroke: 2px #000000;
  paint-order: stroke fill;
  background-image: linear-gradient(
    to right,
    #004ff9 0%,
    #fff94c 51%,
    #004ff9 100%
  );
}
#compare-btn {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#compare-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
