#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: 100vw;
}

main {
  padding: 0 120px;
  height: 100%;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#userID-input {
  display: flex;
  gap: 120px;
}

#user-select {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#selected-userID-text {
  display: flex;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-direction: column;
}

#status-text {
  white-space: pre;
}
.container_c1e950 {
  width: 100%;
}
.inner_7e9787 {
  width: 100%;
}

#user-select .container_c1e950:last-child {
  rotate: 180deg;
}
